<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSAppleMusicUsageDescription</key>
    <string>MoodMelody needs access to Apple Music to provide personalized music recommendations based on your mood.</string>
    <key>kTCCServiceMediaLibrary</key>
    <string>MoodMelody would like access to your media library to play music.</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>moodmelody</string>
            </array>
            <key>CFBundleURLName</key>
            <string>com.yourcompany.moodmelody</string>
        </dict>
    </array>
    <key>UIBackgroundModes</key>
    <array>
        <string>audio</string>
    </array>
</dict>
</plist>